{% load static %}
<nav class="navbar navbar-ct-orange navbar-icons" style="margin-bottom: 0px; background-color: #1f2833">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li>
      <a href="{% url 'index' %}">
      <h3 class="wow bounceIn" style="font-family: 'Fredoka One', cursive; color: #09FDB3; text-transform: uppercase; margin-right: 700px">The bar is open</h3></a>
      </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="pe-7s-keypad"></i>
            <p>
              Menu
              <b class="caret"></b>
            </p>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'about' %}">About us</a></li>
            <li><a href="{% url 'whiskey' %}">About Whiskey</a></li>
            <li><a href="#">Something</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li>
          <a href="">
            <i class="pe-7s-global"></i>
            <p>Explore</p>
          </a>
        </li>
        <li>
          <a href="">
            <i class="pe-7s-add-user"></i>
            <p>Login</p>
          </a>
        </li>
        <li>
          <a href="">
            <i class="pe-7s-id"></i>
            <p>Sign Up</p>
          </a>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

