{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static '/img/bourbon-cocktail-on-the-rocks.jpg' %}">
        </div>
        <div class="small-info">
            <h1>About Us</h1>
            <h3>Just a bunch of people who love whiskey.</h3>
        </div>
    </div>

    <div class="section">
           <div class="container">
               <h2 class="quote" style="font-family: 'Great Vibes', cursive;">Whiskey is liquid sunshine - George Bernard Shaw</h2>
               <div class="row">
                   <div class="col-md-6">
                       <p>
                          Tipplehouse is a place for both amateurs and connoisseurs. A place to learn about how whiskey is made, different varieties of whiskey and whiskey culture in general. </p>
                        <p><b>Enjoy and please drink responsibly.</p>
               </div>
           </div>
    </div><!-- section -->
{% endblock  %}