{% extends "base.html" %}
{% load static %}
{% block content %}

<!--=====================================================-->
<!--======================= MAIN ========================-->
<!--=====================================================-->
    <div class="wrapper">
        <div class="parallax filter-black">
            <div class="parallax-image">
                <img src="{% static '/img/man-at-diner-counter.webp' %}" alt="cover" />
            </div>
            <div class="small-info">
                <h1 style="text-transform: uppercase; color: #c5c6c7">Tipplehouse</h1>
                <h3 style=" color: #c5c6c7">For the Whiskey Aficionado</h3>
                <br>
                <center>
                    <a href="#whiskey-blog">
                        <i class="fas fa-glass-whiskey fa-3x" style="color: #c5c6c7;"></i>
                        <i class="fas fa-arrow-circle-down fa-lg" style="color: #c5c6c7;"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="social-line social-line-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <a href="" class="btn btn-simple btn-social btn-neutral">
                            <i class="fab fa-facebook-square fa-lg"></i> Share &middot; 753
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="" class="btn btn-simple btn-social btn-neutral">
                            <i class="fab fa-twitter-square fa-lg"></i> Tweet &middot; 832
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="" class="btn btn-simple btn-social btn-neutral">
                            <i class="fab fa-google-plus-square fa-lg"></i> Post &middot; 131
                        </a>
                    </div>
                    <div class="col-md-2" id="whiskey-blog">
                        <a href="" class="btn btn-simple btn-social btn-neutral">
                            <i class="fab fa-pinterest-square fa-lg"></i> Pin it &middot; 323
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-line subscribe-line-transparent"
            style="background-image: url('assets/img/pouring-party-drinks.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <!-- Begin Mailchimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet"
                            type="text/css">

                        <div id="mc_embed_signup">
                            <form
                                action="https://tipplehouse.us4.list-manage.com/subscribe/post?u=44b699add64dabff603f97ac1&amp;id=90101236e6"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <label for="mce-EMAIL"></label>
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                                        placeholder="email address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_44b699add64dabff603f97ac1_90101236e6" tabindex="-1"
                                            value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="btn btn-warning button"
                                            style="display: inline-block"></div>
                                </div>
                            </form>
                        </div>

                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="https://app.termly.io/document/cookie-policy/a8259fdd-93ea-4cdc-925f-092538008d85"></a>
{% endblock  %}